body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #003a3a;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.logo {
    max-width: 200px;
    margin-bottom: 20px;
}

h1 {
    color: #333333;
    margin-bottom: 10px;
    font-family: Youth, Sans-serif;
}

p {
    color: #666666;
}
